input{
    margin-left: 504px !important;
    width: 30% !important;
    height: 23px !important;
    margin-top: 25px !important;
    border-radius: 5px !important;

}
div{
  border: 1px solid gainsboro;
  width: 100%;
}
